# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/
tests/

# Next.js
.next/
out/
build/

# Environment
.env*

# IDE
.idea/
.vscode/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
